:root {
    --main-color: #00AFDB;
    --text-color: #373737;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
.container_content{
    margin: 0 auto;
    max-width: 1280px;
}

/* ------------------------- */
h1{
    display: none;
}

.btn{
    width: 184px;
    height: 46px;
    cursor: pointer;
    background:var(--main-color);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items:center;
    justify-content:center;
    border:none;
    transition: all .5s ease-in-out;
}

.btn:hover{
    background: #009CC2;
}
/* --------------------- */
.header{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 625px;
    padding-left: 12px;
    padding-right: 26px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.header .header__a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: none;
    transition: all .4s ease-in-out;
}

.header .header__a:nth-child(1){
    margin-right: 85px;
}
.header .header__a:nth-child(2){
    margin-right: 100px;
}
.header .header__a:nth-child(4){
    margin-left: 100px;
}
.header .header__a:nth-child(5){
    margin-left: 85px;
}

.header .header__a:hover{
    border-bottom: 1px solid white;
    opacity: 1;
}

/* ------------------------- */

.main-section{
    height: 744px;
    background: url(./assets/img/bg-image.jpg) center center/cover no-repeat;;
    padding: 230px 0 90px 0;
}

.main-section__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section .main-section__title{
    margin-left: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-section .main-section__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 504px;
    height: 50px;
    margin-top: 22px;
}

.main-section .main-section__btn{
    margin-top: 29px;
}

.main-section .main-section__icons{
    margin-top: 183px;
    width: 170px;
    display: flex;
    justify-content:space-between;
    
}

.main-section .main-section__icon{
    transition: all .5s ease-in-out;
}

.main-section .main-section__icon:hover{
    opacity: .5;
}

/* ------------------------- */

.smart-design{
    height: 842px;
    padding:120px 0 140px 0;
}

.smart-design .smart-design__container{
    display: flex;
    padding: 0 109px;
}

.smart-design .smart-design__content{
    
}

.smart-design .smart-design__content .smart-design__content__title{
    width: 370px;
    height: 57px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:var(--text-color);;
    text-align: left;
    margin-top: 175px;
    margin-bottom: 22px;
}

.smart-design .smart-design__content .smart-design__content__text{
    width: 407px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color:var(--text-color);
    margin-bottom: 28px;
}

.smart-design .smart-design__img{
    margin-left: 248px;
}

/* -------------- */

.community{
    height: 504px;
    background: #F5F6F7;
    padding: 1px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.community .community__comment{
    margin-left: 269px; 
    display: flex;
    flex-direction: column;
    align-items:center;
}

.community .community__comment .community__comment__img{
    margin-bottom: 20px;
    width: 45px;
    height: 45px;
}

.community .community__comment .community__comment__title{
    width: 162px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color:var(--text-color);
    margin-bottom: 10px;
}

.community .community__comment .community__comment__text{
    width: 298px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color:var(--text-color);
    text-align: center;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 42px;
}

.slide-btn{
    margin-bottom: 20px;
    margin-left: 280px;
    width: 74px;
    padding: 2px 0;
    height: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items:center;
}

.slider-num{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color:var(--text-color);
}
.slider-num:nth-child(2){
    margin-right: 4px;
}
.slider-num:nth-child(3){
    margin-right: 4px;
}

.slider-items{
    width: 894px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    
}

.slider-arrow{
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.slider-arrow:hover{
    opacity: .5;
}

.slider-arrow:nth-child(1){
    margin-right: 10px;
}
.slider-arrow:nth-child(5){
    margin-left: 10px;
}

/* ------------- */

.learn-more{
    height: 842px;
    padding: 120px 0 140px 0;
    
}
.learn-more .learn-more__block{
    display: flex;
    justify-content: flex-start;
    padding: 0 109px;
}

.learn-more .learn-more__content{
    width: 407px;
    height: 184px;
    margin-top: 198px;
    margin-left: 139px;
}



.learn-more .learn-more__content .learn-more__content__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 22px;
}

.learn-more .learn-more__content .learn-more__content__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color: #4E4E4E;
    margin-bottom: 30px;
}
.learn-more .learn-more__content .learn-more__content__btn{
    width: 180px;
}

/* -------------- */

.email-section{
    height: 524px;
    padding: 200px 0 220px 0;
    background-image: url(./assets/img/pexels-christina-morillo-1181675\ 1.jpg);
}

.email-section .email-section__title{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.email-section .email-section__from{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}

.email-section .email-section__input{
    width: 340px;
    height: 46px;
    background-color: #fff;
    border: none;
    padding-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--text-color);
}

.email-section .email-section__btn{
    width: 66px;
    height: 46px;
    background-color: #00AFDB;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.email-section .email-section__btn:hover{
    background-color: #009CC2;
}

.email-section__btn__img_hover{
    width: 21px;
    height: 18px;
}


/* ---------- */

.download{
    height: 464px;
    padding: 120px 0 180px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #F5F6F7;
}

.download .download__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-color);
}

.download .download__subtitle{
    width: 483px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 28px;
}

.download .download__block-btn{
    width: 402px;
    height: 46px;
    display: flex;
    justify-content: space-between;
}

.download .download__block-btn .download__block-btn__btn{
    display: flex;
    border:none;
    cursor: pointer;
}


.download .download__block-btn .download__block-btn__text{
    height: 100%;
    width: 127px;
    background-color: var(--main-color);
    padding: 15px 16px 15px 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.download .download__block-btn .download__block-btn__block-img{
    background-color: #009CC2;
    width: 59px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* -------- */

.footer{
    height: 184px;
    background: #000000;
    display: flex;
    padding: 60px 0 79px 0;
}

.footer .footer__block-link{
    width: 293px;
    height: 16px;
    display: flex;
    margin-left: 140px;
    margin-right: 345px;
    margin-top: 14px;
}

.footer .footer__block-link .footer__block-link__link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.98;
    padding-left: 20px;
    padding-right: 21px;
    text-decoration: none;
    /* border-right: 1px solid #4E4E4E; */
    transition: all 0.3s ease-in-out; 
    position: relative;
}
.footer .footer__block-link .footer__block-link__link::after{
    content:"";
    position:absolute;
    top:9px;
    left:81px;
    transform: rotate(90deg);
    width:8px;
    border-top: 1px solid #4E4E4E;
    
}
.footer .footer__block-link .footer__block-link__link:hover{
    color:var(--main-color);
}
.footer .footer__block-link .footer__block-link__link:nth-child(3)::after{
    content:"";
    border-top:none;
}
.footer .footer__block-link .footer__block-link__link:nth-child(1){
    
    padding-left: none;
}

.footer .footer__name-design{
    width: 170px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #818181;
    margin-left: 448px;
    margin-top: 14px;
}

